@use "../utils/variables" as v;

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;

  h1 {
    font-size: 2rem;
    color: v.$text-color;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    color: v.$text-color;
  }
}
